.SideDrawer {
  max-width: 70%;
  width: 280px;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 200;
  background-color: aliceblue;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Closed {
  transform: translateX(-100%);
}

.Logo {
  height: 11%;
  margin-bottom: 32px;
}
